@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.top p{
    font-size: 13px;
    text-align: center;
    color: rgb(0, 59, 0);
    width: 100%;
    background-image: url('./img/yellowbg.jpeg');
    padding: 8px;
}
nav{
    margin-left: 70px;
    margin-bottom: 40px;
}
li{
    overflow: hidden;
    display: inline;
    padding: 16px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a{
    text-decoration: none;
    color: rgb(110, 110, 110);
}
.navbar img{
    margin-left: 25px;
    padding-right: 25px;
    margin-top: 0px;
    width: 180px;
    height: 80px;
}
.head {
    position: relative;
    background-image: url('./img/headbg21.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh; 
}
.head::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.55);
}
.head-t{
    position: absolute;
    top: 30%;
    right: 24%;
}
.head-t h1{
    padding-top: 100px;
    font-family: Franklin Gothic Heavy;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.head-t h3{
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    padding-top: 7px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.head-t p{
    padding-top: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-bottom: 30px;
}
.btn{
    margin-left: 180px;
}
.btn button{
  
    padding: 10px;
    color: rgb(0, 95, 0);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}
.item1 { grid-area: img; }
.item15{ grid-area: p;}
.item2 { grid-area: h1; }
.item3 { grid-area: box; }

.grid{
    background-color: rgba(216, 216, 216, 0.589);
    padding-bottom: 50px;
    display: grid;
    grid-template-areas: 'img img h1 h1'
                         'img img p p'
                         'img img box box'
                         'img img box box';
}
.item1 img{
    width: 450px;
    height: 630px;
    margin-top: 80px;
    margin-left: 120px;
}
.item15 p{
    width: 620px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.item2 h1{
    margin-top: 80px;
    margin-right: 280px;
    color: rgb(0, 59, 0);
}
.box1 {
    display: grid;
    grid-template-areas: 'img h3 h3 h3'
                         'img p p p';
    background-color: white;
    width: 620px;
    margin-bottom: 20px;
    
}

.item3 img{
    grid-area: img;
    width: 170px;
    height: 150px;
}
.item3 h3{
    font-size: 25px;
    margin-top: 20px;
    grid-area: h3;
}
.item3 p{
    font-size: 20px;
    margin-top: -40px;
    grid-area: p;
    width: 300px;
}
.company{
    padding: 40px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.company h3{
    text-align: center;
    color: rgb(0, 59, 0);
}
.fstpic{
    margin-left: 300px;
}
.company img{
    display: inline;
    margin-left: 30px;
    width: 100px;
    height: 100px;
}
.how{
    padding: 50px;
    padding-left: 0;
    padding-bottom: 20px;
    background-color: rgba(216, 216, 216, 0.589);
}
.how h1{
    text-align: center;
    color: rgb(0, 59, 0);
}
.how p{
    margin-top: 10px;
    text-align: center;
    color: rgb(88, 88, 88);
    font-size: 20px;
    margin-bottom: 45px;
}
.cent ul{
    padding-left: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(10, 107, 31);
    width: 100%;
}
.cent li{
    display: inline;
    margin-left: 40px;
    color: rgb(187, 187, 187);
}
.subs{
    background-image: url('./img/yellowbg.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    padding-bottom: 30vh;
}
.subs h1{
    padding-top: 50px;
    color: rgb(0, 59, 0);
    text-align: center;
    font-size: 40px;
}
.subs h2{
    padding-top: 50px;
    color: rgb(0, 59, 0);
    text-align: center;
    font-size: 30px;
}
.subs p{
    margin-left: 350px;
    margin-top: 20px;
    text-align: center;
    width: 650px;
    color: rgb(0, 59, 0);
    font-size: 20px;
}
.subs h5{
    padding-top: 50px;
    color: rgb(0, 59, 0);
    text-align: center;
    font-size: 18px;
}
.subs button{
    color: rgb(0, 59, 0);
    background-color: white;
    font-weight: bold;
    padding: 15px;
    margin-top: 20px;
    margin-left: 570px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.box-content{
    margin-left:90px;
    display: flex;
    position: relative;
}
.b1{
    margin-left: 20px;
    margin-top: -25vh;
    width: 20vw;
    height: 52vh;
    background-color: rgba(218, 218, 218, 0.541);
    border-radius: 10px;
    
}
.b1 img{
    border-radius: 10px;
    width: 20vw;
    height: 25vh;
}
.b1 h5{
    position: absolute;
    bottom: 170;
    color: rgb(0, 59, 0);
    background-color: rgb(255, 196, 0);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 15vw;
    margin-left: 30px;
}
.b1 h4{
    padding: 30px;
    font-size: 20px;
    padding-bottom: 15px;
}
.b1 p{
    padding-left: 30px;
    font-size: 15px;
    padding-bottom: 25px;
}
.bam{
    padding: 50px;
    text-align: center;
}
.bam button{
    color: rgb(11, 126, 11);
    background-color: rgb(255, 196, 0);
    font-weight: bolder;
    padding: 15px;
    width: 13vw;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
hr{
    height: 5px;
    background-color: rgb(201, 201, 201);
    border: none;
    margin-top: 40px;
    margin-bottom: 70px;
}
.bam p{
    margin-top: 3vh;
}
.three-box{
    display: flex;
    padding: 50px;
    margin-left: 7vw;
}
.tb1{
    width: 23vw;
    height: 50vh;
    border-radius: 10px;
    background-color: rgba(218, 218, 218, 0.541);
    margin-right: 2vw;
}
.tb1 img{
    width: 100px;
    height: 100px;
    margin-top: 80px;
}
.tb1 h5{
    margin-top: 20px;
    font-size: 20px;
}
.tb1 p{
    margin-left: 50px;
    font-size: 15px;
    width: 200px;
}
.bam h6{
    font-size: 15px;
    color: rgb(1, 58, 1);
    margin-bottom: 10px;
}
.bam h3{
    color: rgb(1, 58, 1);
    font-size: 25px;
}
.market{
    display: flex;
    margin-left: 16vw;
}
.market img{
    width: 32vw;
    height: 30vh;
    border-radius: 10px;
}
.farm{
    border-radius: 10px;
  width: 32vw;
  height: 45vh;
  background-color: rgb(2, 100, 2);
  margin-right: 70px;
}
.farm h1{
    color: white;
    padding: 15px 0px 5px 25px;
}
.farm p{
    color: white;
    padding: 5px 0px 5px 25px;
}

.supply h2{
    padding-top: 10px;
    color: rgb(0, 59, 0);
    text-align: center;
    font-size: 30px;
}
.supply p{
    margin-left: 350px;
    margin-top: 20px;
    text-align: center;
    width: 650px;
    color: rgb(0, 0, 0);
    font-size: 17px;
}
.supply h4{
    padding-top: 80px;
    color: rgb(0, 59, 0);
    text-align: center;
    font-size: 18px;
}
.supply button{
    color: rgb(255, 255, 255);
    background-color: rgb(11, 48, 6);
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    margin-left: 600px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
._1stpic{
    margin-left: 130px;
}
.about{
    display: flex;
    padding: 100px;
    position: relative;

}
.about h1{
    color: rgb(1, 73, 1);
}
.about h4,
.about p{
    color: black;
    width: 400px;
    margin-top: 30px;
}
.about img{
    position: absolute;
    top: 50px;
    right: 0;
    width: 45vw;
    height: 80vh;
}
.about button{
    margin-top: 40px;
    margin-right: 10px;
    padding: 13px;
    color: rgb(0, 95, 0);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}
.insta img{
    width: 17vw;
    height: 60vh;
    top: 100px;
    right: 35vw;
    border: 5px solid rgb(0, 94, 0);
    border-radius: 15px;
}
.insta p{
    position: absolute;
    top: 65vh;
    right: 40vw;
    color: white;
    width: 150px;
    background-color: rgb(0, 94, 0);
    padding: 3px;
}
i{
    margin-left: 5px;
}
.review{
    display: flex;
    padding: 100px;
    position: relative;

}
.review h1{
    color: rgb(1, 73, 1);
}
.review h4,
.review p{
    color: black;
    width: 400px;
    margin-top: 30px;
}
.arrow i{
    margin-top: 30px;
    margin-left: 5px;
    cursor: pointer;
}
.cbox{
    display: flex;
}
.grey{
    background-color: grey;
    width: 50vw;
    height: 60vh;
}
.yellow{
    background-color: yellow;
    width: 50vw;
    height: 60vh;
}