*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

.top p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    text-align: center;
    color: rgb(0, 59, 0);
    width: 100%;
    background-color: gold;
    padding: 8px;
}
nav{
    margin-left: 90px;
    margin-bottom: 40px;
}
li{
    overflow: hidden;
    display: inline;
    padding: 16px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a{
    text-decoration: none;
    color: rgb(156, 156, 156);
}
.navbar a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.navbar img{
    margin-left: 25px;
    padding-right: 25px;
    margin-top: 0px;
    width: 180px;
    height: 80px;
}
.head {
    position: relative;
    background-image: url('./img/headbg21.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh; 
}
.head::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.55);
}
.head-t{
    position: absolute;
    top: 30%;
    right: 26%;
}
.head-t h1{
    padding-top: 100px;
    font-family: Franklin Gothic Heavy;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.head-t h3{
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    padding-top: 7px;
    text-align: center;
    width: 600px;
    color: rgb(255, 255, 255);
}
.head-t p{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-bottom: 30px;
}
.btn{
    margin-left: 180px;
}
.btn button{
  
    padding: 10px;
    color: rgb(0, 95, 0);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}
.btn1{
    background-color: gold;
}
.btn button:hover{
    padding: 8px;
    transition: 0.2s;
}

.item1 { grid-area: img; }
.item15{ grid-area: p;}
.item2 { grid-area: h1; }
.item3 { grid-area: box; }

.grid{
    background-color: rgba(216, 216, 216, 0.589);
    padding-bottom: 50px;
    display: grid;
    grid-template-areas: 'img img h1 h1'
                         'img img p p'
                         'img img box box'
                         'img img box box';
}
.item1 img{
    width: 450px;
    height: 630px;
    margin-top: 80px;
    margin-left: 120px;
}
.item15 p{
    font-family: sans-serif;
    width: 620px;
    margin-top: 13px;
    margin-bottom: 20px;
}
.item2 h1{
    font-family:Helvetica,Arial,sans-serif;
    margin-top: 80px;
    margin-right: 280px;
    color: rgb(0, 59, 0);
}
.box1 {
    display: grid;
    grid-template-areas: 'img h3 h3 h3'
                         'img p p p';
    background-color: white;
    width: 620px;
    margin-bottom: 20px;
    
}

.item3 img{
    grid-area: img;
    width: 170px;
    height: 150px;
}
.item3 h3{
    font-family:Helvetica,Arial,sans-serif;
    font-size: 25px;
    margin-top: 20px;
    grid-area: h3;
}
.item3 p{
    font-family: sans-serif;
    font-size: 18px;
    margin-top: -40px;
    grid-area: p;
    width: 300px;
}
.company{
    padding: 40px;
    padding-left: 0px;
    padding-bottom: 20px;
}
.company h3{
    font-family:Helvetica,Arial,sans-serif;
    text-align: center;
    color: rgb(0, 59, 0);
}
.fstpic{
    margin-left: 300px;
}
.company img{
    display: inline;
    margin-left: 30px;
    width: 100px;
    height: 100px;
}
.how{
    padding: 50px;
    padding-left: 0;
    padding-bottom: 20px;
    background-color: rgba(216, 216, 216, 0.589);
}
.how h1{
    font-family:Helvetica,Arial,sans-serif;
    text-align: center;
    color: rgb(0, 59, 0);
}
.how p{
    font-family:Helvetica,Arial,sans-serif;
    margin-top: 10px;
    text-align: center;
    color: rgb(88, 88, 88);
    font-size: 20px;
    margin-bottom: 45px;
}
.cent ul{
    padding-left: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(10, 107, 31);
    width: 100%;
}
.cent li{
    display: inline;
    margin-left: 40px;
    color: rgb(187, 187, 187);
}
.subs{
    background-color: gold;
    height: 80vh;
    padding-bottom: 30vh;
}
.subs h1{
    font-family:Helvetica,Arial,sans-serif;
    padding-top: 50px;
    color: rgb(0, 59, 0);
    text-align: center;
    font-size: 40px;
}
.subs h2{
    font-family:Helvetica,Arial,sans-serif;
    padding-top: 50px;
    color: rgb(0, 59, 0);
    text-align: center;
    font-size: 30px;
}
.subs p{
    font-family:Helvetica,Arial,sans-serif;
    margin-left: 350px;
    margin-top: 20px;
    text-align: center;
    width: 650px;
    color: rgb(0, 59, 0);
    font-size: 20px;
}
.subs h5{
    font-family:Helvetica,Arial,sans-serif;
    padding-top: 50px;
    color: rgb(0, 59, 0);
    text-align: center;
    font-size: 18px;
}
.subs button{
    color: rgb(0, 59, 0);
    background-color: white;
    font-weight: bold;
    padding: 15px;
    margin-top: 20px;
    margin-left: 550px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.subs button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.br1,.br2{
    display: flex;
}
.box-content{
    margin-left:90px;
    display: flex;
    position: relative;
}
.b1{
    margin-left: 20px;
    margin-top: -25vh;
    width: 20vw;
    height: 52vh;
    background-color: rgba(218, 218, 218, 0.541);
    border-radius: 10px;
    
}
.b1 img{
    border-radius: 10px;
    width: 20vw;
    height: 25vh;
}
.b1 h5{
    font-family:Helvetica,Arial,sans-serif;
    position: absolute;
    bottom: 170;
    color: rgb(0, 59, 0);
    background-color: gold;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 15vw;
    margin-left: 30px;
}
.b1 h4{
    font-family:Helvetica,Arial,sans-serif;
    padding: 30px;
    font-size: 20px;
    padding-bottom: 15px;
}
.b1 p{
    font-family:Helvetica,Arial,sans-serif;
    padding-left: 30px;
    font-size: 15px;
    padding-bottom: 25px;
}
.bam{
    padding: 50px;
    text-align: center;
}
.bam button{
    color: rgb(11, 126, 11);
    background-color: gold;
    font-weight: bolder;
    padding: 15px;
    width: 13vw;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.bam button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
hr{
    height: 5px;
    background-color: rgb(201, 201, 201);
    border: none;
    margin-top: 40px;
    margin-bottom: 70px;
}
.bam p{
    font-family:Helvetica,Arial,sans-serif;
    margin-top: 3vh;
}
.three-box{
    display: flex;
    padding: 50px;
    margin-left: 7vw;
}
.tb1{
    position: relative;
    width: 23vw;
    height: 50vh;
    border-radius: 10px;
    background-color: rgba(218, 218, 218, 0.541);
    margin-right: 2vw;
}
.tb1 img{
    width: 100px;
    height: 100px;
    margin-top: 80px;
}
.three-box .tb1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gold;
    border-radius: 10px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.three-box .tb1:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.tb1:hover img{
    transform: translateY(-40px);
}
.tb1:hover h5,
.tb1:hover p {
    color: rgb(36, 83, 24);
}
.tb1 h5{
    position: relative;
    font-family:Helvetica,Arial,sans-serif;
    margin-top: 10px;
    font-size: 20px;
}
.tb1 p{
    position: relative;
    font-family:Helvetica,Arial,sans-serif;
    margin-left: 50px;
    font-size: 15px;
    width: 200px;
}
.bam h6{
    font-family:Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: rgb(1, 58, 1);
    margin-bottom: 10px;
}
.bam h3{
    font-family:Helvetica,Arial,sans-serif;
    color: rgb(1, 58, 1);
    font-size: 25px;
}
.market{
    display: flex;
    margin-left: 16vw;
}
.market img{
    width: 32vw;
    height: 30vh;
    border-radius: 10px;
}
.farm{
    border-radius: 10px;
  width: 32vw;
  height: 45vh;
  background-color: rgb(2, 100, 2);
  margin-right: 70px;
}
.farm:hover{
    background-color: crimson;
    transition: all 0.5s;
    -webkit-transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        transform: rotateZ(5deg);
}
.farm h1{
    font-family:Helvetica,Arial,sans-serif;
    color: white;
    padding: 15px 0px 5px 25px;
}
.farm p{
    color: white;
    padding: 5px 0px 5px 25px;
}

.supply h2{
    font-family:Helvetica,Arial,sans-serif;
    padding-top: 10px;
    color: rgb(0, 59, 0);
    text-align: center;
    font-size: 30px;
}
.supply p{
    font-family:Helvetica,Arial,sans-serif;
    margin-left: 350px;
    margin-top: 20px;
    text-align: center;
    width: 650px;
    color: rgb(0, 0, 0);
    font-size: 17px;
}
.supply h4{
    font-family:Helvetica,Arial,sans-serif;
    padding-top: 80px;
    color: rgb(0, 59, 0);
    text-align: center;
    font-size: 18px;
}
.supply button{
    color: rgb(255, 255, 255);
    background-color: rgb(11, 48, 6);
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    margin-left: 590px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.supply button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
._1stpic{
    margin-left: 130px;
}
.about{
    display: flex;
    padding: 100px;
    position: relative;

}
.about h1{
    font-family:Helvetica,Arial,sans-serif;
    color: rgb(1, 73, 1);
}
.about h4,
.about p{
    font-family:Helvetica,Arial,sans-serif;
    color: black;
    width: 400px;
    margin-top: 30px;
}
.about img{
    position: absolute;
    top: 50px;
    right: 0;
    width: 45vw;
    height: 80vh;
}
.about button{
    margin-top: 40px;
    margin-right: 10px;
    padding: 13px;
    color: rgb(0, 95, 0);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}
.about button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.insta img{
    position: absolute;
    width: 17vw;
    height: 60vh;
    top: 100px;
    right: 35vw;
    border: 5px solid rgb(0, 94, 0);
    border-radius: 15px;
}
.insta:hover img,
.insta:hover p{
    transition: all 1.5s;
    -webkit-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
}
.insta p{
    font-family:Helvetica,Arial,sans-serif;
    font-size: 15px;
    position: absolute;
    top: 65vh;
    right: 40vw;
    color: white;
    width: 150px;
    background-color: rgb(0, 94, 0);
    padding: 3px;
}
i{
    margin-left: 5px;
}
.review{
    position: relative;
    padding: 100px;
    grid-template-areas: 't,g';

}
.review-1{grid-area: t;}
.grey{grid-area: g;}
.review h1{
    font-family:Helvetica,Arial,sans-serif;
    color: rgb(1, 73, 1);
}
.review h4,
.review p{
    font-family:Helvetica,Arial,sans-serif;
    color: black;
    width: 400px;
    margin-top: 30px;
}
.arrow i{
    margin-top: 30px;
    margin-left: 5px;
    cursor: pointer;
}
.grey{
    position: absolute;
    top: 40px;
    right: 0;
    background-color: rgba(211, 211, 211, 0.603);
    width: 50vw;
    height: 54vh;
}
.yellow{
    position: absolute;
    top: 100px;
    right: 70px;
    background-color: rgb(255, 246, 122);
    border-radius: 15px;
    width: 50vw;
    height: 45vh;
}
.yellow i{
    margin: 40px 0px 40px 40px;
    
}
.yellow h2{
    font-family:Helvetica,Arial,sans-serif;
    color: rgb(112, 33, 33);
    width: 40vw;
    position: absolute;
    top: 80;
    left: 40;
}
.profile{
    position: relative;
    left: 20;
    top: 20;
}
.yellow img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 190;
    left: -40;
}
.yellow p{
    font-family:Helvetica,Arial,sans-serif;
    color: rgb(112, 33, 33);
    font-weight: bold;
    position: absolute;
    top: 170;
    left: 0;
}
.instagram{
    text-align: center;
    padding: 60px 0px 0px 0px;
    
}

.post{
    position: relative;
    display: inline;
    width: 17vw;
    height: 60vh;
    
}
.instagram img{
    display: inline;
    margin-top: 40;
    margin-left: 10px;
    width: 17vw;
    height: 60vh;
    border: 5px solid rgb(0, 94, 0);
    border-radius: 15px;
}
.instagram p{
    font-family:Helvetica,Arial,sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: 20;
    left: 20;
    color: white;
    width: 150px;
    background-color: rgb(0, 94, 0);
    padding: 3px;
}
.news{
    background-color: gold;
    margin-top: -150px;
    padding-top: 200px;
    padding-bottom: 20px;
}
.news h1{
    font-family:Helvetica,Arial,sans-serif;
    text-align: center;
    color: rgb(0, 66, 0);
}
.news p{
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    margin-top: 20px;
    margin-left: 25vw;
    font-size: 20px;
    color: rgb(0, 66, 0);
    width: 670px;
}
.tip{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.tp1{
    width: 200px;
    height: 200px;
    margin-left: 30px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url("./img/wheat.jpg");
    position: relative;
    border-radius: 15px;
}
.tp1:hover,.tp2:hover,.tp3:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.tp2{
    width: 200px;
    height: 200px;
    margin-left: 30px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url("./img/cabbage.jpg");
    position: relative;
    border-radius: 15px;
}
.tp3{
    width: 200px;
    height: 200px;
    margin-left: 30px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url("./img/strawberry.jpg");
    position: relative;
    border-radius: 15px;
}
.tip p{
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 0;
    right: 6vw;
    width: 100px;
    font-size: 14px;
    color: white;
}
.tip img{
    position: absolute;
    top: 10;
    right:5 ;
    width: 50px;
    height: 50px;
}
.mail{
    padding: 50px;
    background-color: rgb(255, 255, 255);
}
.ebox{
    background-color: rgb(0, 94, 0);
    position: relative;
    margin-top: -130px;
    margin-left: 260px;
    width: 450px;
    height: 40px;
    padding: 50px 150px 50px 150px;
    border-radius: 15px;
}
.mail input[type=email]{
    position: absolute;
    left: 7vw;
    color: white;
    background-color: rgb(0, 94, 0);
    border: none;
    width: 550px;
    border-bottom: 4px solid white;
    padding: 10px;
}
::placeholder{
    color: white;
    font-weight: bold;
}
.mail input[type=submit]{
    position: absolute;
    font-weight: bold;
    top: 42;
    right: 104;
    border: none;
    color: rgb(0, 94, 0);
    background-color: white;
    padding: 15px;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
}

.last{
    background-color: white;
    padding: 0px 130px 50px 130px;
    display: flex;
}
.row1{
    margin-left: 90px;
}
.row1 img{
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
}
.row1 p{
    cursor: pointer;
    margin-bottom: 20px;
    color: rgb(114, 114, 114);
}
.row1 i{
    margin-bottom: 20px;
}
.dark{
    font-weight: bold;
}
footer{
    display: flex;
    color: rgb(92, 92, 92);
    justify-content: center;
}
footer p{
    margin-left: 30px;
}
.reveal{
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  .active.fade-zoom{
    animation: fade-zoom 1s ease-in;
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-zoom{
    0% {
      transform: scale(0.2);
      opacity: 0;
    }
    50%{
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
       transform: scale(1); 
      opacity: 1;
    }
  }
 .navbar button{
    display: none;
 } 

  @media only screen and (max-width:600px) {
    *{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .top p{
        width:100%;
        text-align: center;
        font-size: 7px;
        padding: 5px;
    }
    .head-t{
    top: 25vh;
    right: 5vw;
    }
    .head{
        height: 30vh;
    }
    .head::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 30vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.55);
    }
    .head-t h1{
        margin: 0vh 0vw 0vh 6vw;
        padding-top: 4vh;
        font-size: 20px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    .head-t h3{
        padding-top: 7px;
        margin: 1vh 0vw 2vh 2vw ;
        width: 90vw;
        font-size: 15px;
    }
    .head-t p{
        display: none;
    }
    .btn{
        margin: 0vh 0vw 0vh 3vw;
        text-align: center;
    }
    .btn button{
        padding: 5px;
        font-size: 10px;
        border-radius: 8px;
        font-weight: 700;
        cursor: pointer;
    }
    .item1 { grid-area: img; }
    .item15{ grid-area: p;}
    .item2 { grid-area: h1; }
    .item3 { grid-area: box; }

    .grid{
    background-color: rgba(216, 216, 216, 0.589);
    padding-bottom: 50px;
    display: grid;
    grid-template-areas: 'img img h1 h1'
                         'img img p p'
                         'box box box box'
                         'box box box box';
    }
    .item1 img{
        width: 60vw;
        height: 30vh;
        margin-top: 5vh;
        margin-left: 5vw;
    }
    .item15 p{
        width: 180px;
        margin:0vh 0vw 0vh 4vw;
    }
    .item2 h1{
        font-size: 25px;
        margin:5vh 0vw 0vh 4vw;
    }
    .box1{
        width: 90vw;
        margin: 2vh 0vw 0vh 5vw;
    }
    .item3 img{
        width: 120px;
        height: 100px;
    }
    .item3 h3{
        font-size: 20px;
        margin: 10px 0px 0px 15px;
    }
    .item3 p{
        font-size: 15px;
        margin: 0px 0px 0px 15px;
        width: 220px;
    }
    .company{
        padding: 10px 0px 5px 0px;
    }
    .company h3{
        text-align: center;
    }
    .fstpic{
        margin-left: 3vw;
    }
    .company img{
        display: inline;
        margin-left: 40px;
        width: 75px;
        height: 75px;
    }
    .how{
        padding:3vh 0vw 3vh 0vw;
    }
    .how h1{
        font-size: 20px;
        margin: 0vh 0vw 1vh 0vw;
    }
    .how p{
        margin: 0;
        font-size: 15px;
    }
    .cent ul{
        padding:10px;    }
    .cent li{
        margin-left: 2vw;
        font-size: 10px;
    }
    .subs{
        background-color: gold;
        height: 50vh;
        padding-bottom: 10vh;
    }
    .subs h1{
        padding-top: 3vh;
        font-size: 30px;
    }
    .subs h2{
        padding-top: 2vh;
        font-size: 22px;
    }
    .subs p{
        margin-top: 1vh;
        margin-left: 9vw;
        width: 80vw;
        font-size: 15px;
    }
    .subs h5{
        padding-top: 3vh;
        text-align: center;
        font-size: 16px;
    }
    .subs button{
        padding: 10px;
        margin:2vh 0vw 0vh 22vw;
    }
    .br1,.br2{
        display: block;
    }
    .box-content{
        margin-left:0vw;
        margin-top: -10vh;
        opacity: 1;
        display: flex;
        position: relative;
        grid-template-areas: 'br1 br1'
                             'br2 br2';
    }
    .br1{grid-area: br1;}
    .br2{grid-area: br2;}
    .b1{
        margin-bottom: 2vh;
        margin-left: 2vw;
        width: 46vw;
        height: 65vh;
        background-color: rgb(228, 228, 228);
    }
    .b1 img{
        margin-top:25vh;
        width: 46vw;
        height: 15vh;
    }
    .b1 h5{
        top:13vh;
        height: 2vh;
        width:25vw;
        margin-left: 10vw;
    }
    .b1 p{
        font-size: 13px;
    }
    .bam{
        padding: 0px 20px 20px 20px;
    }
    .bam h2{
        margin-top: 1vh;
    }
    .bam button{
        width: 43vw;       
    }
    .bam p{
        font-family:Helvetica,Arial,sans-serif;
        margin-top: 2vh;
    }
    .three-box{
        display: flex;
        padding: 0px;
        margin-left: 0vw;
    }
    .tb1:hover img{
        transform: translateY(-20px);
    }
    .tb1{
        overflow: hidden;
        width: 30vw;
        height: 25vh;
        margin-right: 1vw;
    }
    .tb1 img{
        width: 60px;
        height: 60px;
        margin-top: 3vh;
    }
    .tb1 h5{
        margin-top: 10px;
        font-size: 15px;
    }
    .tb1 p{
        margin-left: 2vw;
        font-size: 12px;
        width: 100px;
    }
    .bam h6{
        margin-top: 3vh;
        font-size: 15px;
    }
    .bam h3{
        font-size: 20px;
    }
    .market{
        margin-left: 3vw;
    }
    .market img{
        width: 45vw;
        height: 20vh;
    }
    .farm{
      width: 45vw;
      height: 35vh;
      margin-right: 3vw;
    }
    .farm h1{
        font-size: 25px;
    }
    .farm p{
        font-size: 20;
    }
    .farm:hover{
        background-color: crimson;
        transition: all 0.5s;
    -webkit-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    .supply h2{
        padding-top: 10px;
        text-align: center;
        font-size: 25px;
    }
    .supply p{
        margin-left: 5vw;
        margin-top: 2vh;
        width: 90vw;
        font-size: 15px;
    }
    .supply h4{
        padding-top: 40px;
        font-size: 15px;
    }
    .supply button{
        padding: 10px;
        margin-top: 3vh;
        margin-left: 10vw;
    }
    ._1stpic{
        margin-left: 2vw;
    }
  }
